.ai/tasks/2026-05-13-001_logic-app-slack-fbe-query/context/vpp-fbe-deletion-trigger.json
{
  "accessEndpoint": "https://prod-105.westeurope.logic.azure.com:443/workflows/6a4e280a48804843bdcfe348f088cb30",
  "changedTime": "2024-10-14T08:07:39.9110328Z",
  "createdTime": "2024-09-02T20:56:35.1392728Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "ComposeGetAndSplitValue": {
        "inputs": "@split(body('ParseJson')?['actions'][0]['value'], '_')",
        "runAfter": {
          "ParseJson": [
            "Succeeded"
          ]
        },
        "type": "Compose"
      },
      "Condition": {
        "actions": {
          "Replace_Entity_(V2)": {
            "inputs": {
              "body": {
                "PartitionKey": "@{body('Tableget')?['value'][0]['PartitionKey']}",
                "RowKey": "@{body('Tableget')?['value'][0]['RowKey']}",
                "Timestamp": "@{body('Tableget')?['value'][0]['Timestamp']}",
                "active": "@{body('Tableget')?['value'][0]['active']}",
                "branch": "@{body('Tableget')?['value'][0]['branch']}",
                "createdby": "@{body('Tableget')?['value'][0]['createdby']}",
                "env": "@{body('Tableget')?['value'][0]['env']}",
                "queue": "@{body('Tableget')?['value'][0]['queue']}",
                "slackresponse": "no"
              },
              "headers": {
                "If-Match": "*"
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['azuretables-1']['connectionId']"
                }
              },
              "method": "put",
              "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('featurebranchenvdetails')}/entities/etag(PartitionKey='@{encodeURIComponent(body('Tableget')?['value'][0]['PartitionKey'])}',RowKey='@{encodeURIComponent(body('Tableget')?['value'][0]['RowKey'])}')"
            },
            "runAfter": {
              "Update_Slack_Message_After_Response_-_No": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          },
          "Send_No_Response_Message": {
            "inputs": {
              "body": {
                "channel": "@{body('ParseJson')?['user']['id']}",
                "text": "You have selected 'No'. The @{variables('env')} environment will be deleted shortly."
              },
              "headers": {
                "Authorization": "Bearer [REDACTED_SLACK_BOT_TOKEN]",
                "Content-Type": "application/json"
              },
              "method": "POST",
              "uri": "https://slack.com/api/chat.postMessage"
            },
            "runAfter": {
              "Send_an_HTTP_request_to_Azure_DevOps": [
                "Succeeded"
              ]
            },
            "type": "Http"
          },
          "Send_an_HTTP_request_to_Azure_DevOps": {
            "inputs": {
              "body": {
                "Body": "{\n    \"stagesToSkip\":[\n       \n    ],\n    \"resources\":{\n       \"repositories\":{\n          \"self\":{\n             \"refName\":\"refs/heads/development\"\n          }\n       }\n    },\n    \"templateParameters\": {\n        \"environment\": \"@{variables('env')}\"\n       },\n    \"variables\":{\n       \"bypassEnvironmentOwnerValidation\":{\n          \"isSecret\":false,\n          \"value\":\"true\"\n       }\n    }\n }",
                "Method": "POST",
                "Uri": "Myriad%20-%20VPP/_apis/pipelines/2629/runs?api-version=6.0-preview.1"
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['visualstudioteamservices-1']['connectionId']"
                }
              },
              "method": "post",
              "path": "/httprequest",
              "queries": {
                "account": "enecomanagedcloud"
              }
            },
            "type": "ApiConnection"
          },
          "Update_Slack_Message_After_Response_-_No": {
            "inputs": {
              "body": {
                "attachments": [
                  {
                    "attachment_type": "default",
                    "callback_id": "@{body('ParseJson')?['callback_id']}",
                    "color": "#3AA3E3",
                    "text": "You have already made a selection. No further action is needed."
                  }
                ],
                "channel": "@{body('ParseJson')?['channel']['id']}",
                "text": "You have selected 'No'. The buttons are now disabled.",
                "ts": "@{body('ParseJson')?['message_ts']}"
              },
              "headers": {
                "Authorization": "Bearer [REDACTED_SLACK_BOT_TOKEN]",
                "Content-Type": "application/json"
              },
              "method": "POST",
              "uri": "https://slack.com/api/chat.update"
            },
            "runAfter": {
              "Send_No_Response_Message": [
                "Succeeded"
              ]
            },
            "type": "Http"
          }
        },
        "else": {
          "actions": {
            "Replace_Entity_(V2)-copy": {
              "inputs": {
                "body": {
                  "PartitionKey": "@{body('Tableget')?['value'][0]['PartitionKey']}",
                  "RowKey": "@{body('Tableget')?['value'][0]['RowKey']}",
                  "Timestamp": "@{body('Tableget')?['value'][0]['Timestamp']}",
                  "active": "@{body('Tableget')?['value'][0]['active']}",
                  "branch": "@{body('Tableget')?['value'][0]['branch']}",
                  "createdby": "@{body('Tableget')?['value'][0]['createdby']}",
                  "env": "@{body('Tableget')?['value'][0]['env']}",
                  "queue": "@{body('Tableget')?['value'][0]['queue']}",
                  "slackresponse": "yes"
                },
                "headers": {
                  "If-Match": "*"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables-1']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('featurebranchenvdetails')}/entities/etag(PartitionKey='@{encodeURIComponent(body('Tableget')?['value'][0]['PartitionKey'])}',RowKey='@{encodeURIComponent(body('Tableget')?['value'][0]['RowKey'])}')"
              },
              "runAfter": {
                "Update_Slack_Message_After_Yes": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Send_Yes_Response_Message": {
              "inputs": {
                "body": {
                  "channel": "@{body('ParseJson')?['user']['id']}",
                  "text": "You have selected 'Yes'. The @{variables('env')} environment will remain active."
                },
                "headers": {
                  "Authorization": "Bearer [REDACTED_SLACK_BOT_TOKEN]",
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "https://slack.com/api/chat.postMessage"
              },
              "type": "Http"
            },
            "Update_Slack_Message_After_Yes": {
              "inputs": {
                "body": {
                  "attachments": [
                    {
                      "attachment_type": "default",
                      "callback_id": "@{body('ParseJson')?['callback_id']}",
                      "color": "#3AA3E3",
                      "text": "You have already made a selection. No further action is needed."
                    }
                  ],
                  "channel": "@{body('ParseJson')?['channel']['id']}",
                  "text": "You have selected 'Yes'. The buttons are now disabled.",
                  "ts": "@{body('ParseJson')?['message_ts']}"
                },
                "headers": {
                  "Authorization": "Bearer [REDACTED_SLACK_BOT_TOKEN]",
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "https://slack.com/api/chat.update"
              },
              "runAfter": {
                "Send_Yes_Response_Message": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('condition')",
                "no"
              ]
            }
          ]
        },
        "runAfter": {
          "Tableget": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "condition",
              "type": "string",
              "value": "@{outputs('ComposeGetAndSplitValue')[0]}"
            }
          ]
        },
        "runAfter": {
          "ComposeGetAndSplitValue": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_variable_1": {
        "inputs": {
          "variables": [
            {
              "name": "env",
              "type": "string",
              "value": "@{outputs('ComposeGetAndSplitValue')[1]}"
            }
          ]
        },
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "ParseJson": {
        "inputs": {
          "content": "@json(decodeUriComponent(triggerBody()['$formdata'][0]['value']))",
          "schema": {
            "properties": {
              "actions": {
                "items": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "value"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {},
        "type": "ParseJson"
      },
      "Tableget": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azuretables-1']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('featurebranchenvdetails')}/entities",
          "queries": {
            "$filter": "env eq '@{variables('env')}'"
          }
        },
        "runAfter": {
          "Initialize_variable_1": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "HTTPTrigger": {
        "inputs": {
          "schema": {
            "properties": {
              "action_ts": {
                "type": "string"
              },
              "actions": {
                "items": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "value"
                  ],
                  "type": "object"
                },
                "type": "array"
              },
              "attachment_id": {
                "type": "string"
              },
              "callback_id": {
                "type": "string"
              },
              "channel": {
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "enterprise": {
                "type": "object"
              },
              "is_app_unfurl": {
                "type": "boolean"
              },
              "is_enterprise_install": {
                "type": "boolean"
              },
              "message_ts": {
                "type": "string"
              },
              "original_message": {
                "type": "object"
              },
              "response_url": {
                "type": "string"
              },
              "team": {
                "properties": {
                  "domain": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "token": {
                "type": "string"
              },
              "trigger_id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "user": {
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.174.88.118"
        },
        {
          "address": "40.91.208.65"
        },
        {
          "address": "13.69.64.208/28"
        },
        {
          "address": "13.69.71.192/27"
        },
        {
          "address": "13.93.36.78"
        },
        {
          "address": "20.86.93.32/27"
        },
        {
          "address": "20.86.93.64/28"
        },
        {
          "address": "20.126.243.151"
        },
        {
          "address": "20.126.241.238"
        },
        {
          "address": "20.103.132.139"
        },
        {
          "address": "20.103.131.1"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "98.64.193.78"
        },
        {
          "address": "98.64.194.143"
        },
        {
          "address": "98.64.198.223"
        },
        {
          "address": "98.64.198.203"
        },
        {
          "address": "98.64.208.186"
        },
        {
          "address": "98.64.209.52"
        },
        {
          "address": "172.211.196.189"
        },
        {
          "address": "172.211.195.251"
        },
        {
          "address": "98.64.154.66"
        },
        {
          "address": "98.64.156.81"
        },
        {
          "address": "98.64.156.180"
        },
        {
          "address": "98.64.156.68"
        },
        {
          "address": "20.238.229.165"
        },
        {
          "address": "20.8.128.2"
        },
        {
          "address": "20.238.230.113"
        },
        {
          "address": "108.141.139.111"
        },
        {
          "address": "108.142.111.162"
        },
        {
          "address": "108.142.111.174"
        },
        {
          "address": "108.142.111.178"
        },
        {
          "address": "108.142.111.183"
        },
        {
          "address": "108.142.111.152"
        },
        {
          "address": "108.142.111.156"
        },
        {
          "address": "108.142.111.179"
        },
        {
          "address": "108.142.111.169"
        },
        {
          "address": "98.64.203.30"
        },
        {
          "address": "98.64.156.172"
        },
        {
          "address": "20.56.202.157"
        },
        {
          "address": "20.56.203.30"
        },
        {
          "address": "57.153.19.33"
        },
        {
          "address": "57.153.59.202"
        },
        {
          "address": "108.141.95.140"
        },
        {
          "address": "20.61.147.216"
        },
        {
          "address": "57.153.83.52"
        },
        {
          "address": "57.153.38.174"
        },
        {
          "address": "57.153.3.13"
        },
        {
          "address": "57.153.1.223"
        },
        {
          "address": "108.142.29.55"
        },
        {
          "address": "108.142.31.220"
        },
        {
          "address": "108.142.31.202"
        },
        {
          "address": "20.61.153.22"
        },
        {
          "address": "57.153.7.252"
        },
        {
          "address": "108.141.83.61"
        },
        {
          "address": "57.153.7.252"
        },
        {
          "address": "108.141.83.61"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "20.103.17.247"
        },
        {
          "address": "20.103.16.47"
        },
        {
          "address": "20.103.57.29"
        },
        {
          "address": "20.101.174.23"
        },
        {
          "address": "20.93.235.107"
        },
        {
          "address": "20.76.174.72"
        },
        {
          "address": "20.82.87.16"
        },
        {
          "address": "20.103.91.39"
        },
        {
          "address": "20.76.161.156"
        },
        {
          "address": "98.64.193.64"
        },
        {
          "address": "98.64.194.135"
        },
        {
          "address": "98.64.198.219"
        },
        {
          "address": "98.64.198.194"
        },
        {
          "address": "98.64.208.46"
        },
        {
          "address": "98.64.209.43"
        },
        {
          "address": "172.211.196.188"
        },
        {
          "address": "172.211.195.181"
        },
        {
          "address": "98.64.157.37"
        },
        {
          "address": "98.64.156.69"
        },
        {
          "address": "98.64.156.152"
        },
        {
          "address": "98.64.156.62"
        },
        {
          "address": "20.238.229.108"
        },
        {
          "address": "108.141.139.225"
        },
        {
          "address": "20.238.230.87"
        },
        {
          "address": "108.141.139.80"
        },
        {
          "address": "108.142.111.161"
        },
        {
          "address": "108.142.111.173"
        },
        {
          "address": "108.142.111.175"
        },
        {
          "address": "108.142.111.182"
        },
        {
          "address": "108.142.111.151"
        },
        {
          "address": "108.142.111.155"
        },
        {
          "address": "108.142.111.157"
        },
        {
          "address": "108.142.111.167"
        },
        {
          "address": "98.64.203.5"
        },
        {
          "address": "98.64.156.150"
        },
        {
          "address": "20.56.202.134"
        },
        {
          "address": "20.56.202.244"
        },
        {
          "address": "57.153.19.27"
        },
        {
          "address": "57.153.59.193"
        },
        {
          "address": "108.141.95.129"
        },
        {
          "address": "20.61.147.200"
        },
        {
          "address": "57.153.83.40"
        },
        {
          "address": "57.153.38.60"
        },
        {
          "address": "57.153.2.162"
        },
        {
          "address": "57.153.1.215"
        },
        {
          "address": "108.142.24.182"
        },
        {
          "address": "108.142.31.170"
        },
        {
          "address": "108.142.31.143"
        },
        {
          "address": "20.61.152.226"
        },
        {
          "address": "57.153.7.245"
        },
        {
          "address": "108.141.83.46"
        },
        {
          "address": "57.153.7.245"
        },
        {
          "address": "108.141.83.46"
        }
      ]
    }
  },
  "id": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/resourceGroups/rg-vpp-app-sb-401/providers/Microsoft.Logic/workflows/vpp-fbe-deletion-trigger",
  "identity": {
    "principalId": "c90b2e26-9dd4-49dd-ab97-07454d758c49",
    "tenantId": "eca36054-49a9-4731-a42f-8400670fc022",
    "type": "SystemAssigned"
  },
  "location": "westeurope",
  "name": "vpp-fbe-deletion-trigger",
  "parameters": {
    "$connections": {
      "value": {
        "azuretables-1": {
          "connectionId": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/resourceGroups/rg-vpp-app-sb-401/providers/Microsoft.Web/connections/azuretables-3",
          "connectionName": "azuretables-3",
          "id": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
        },
        "visualstudioteamservices-1": {
          "connectionId": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/resourceGroups/rg-vpp-app-sb-401/providers/Microsoft.Web/connections/visualstudioteamservices-2",
          "connectionName": "visualstudioteamservices-2",
          "id": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/providers/Microsoft.Web/locations/westeurope/managedApis/visualstudioteamservices"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-vpp-app-sb-401",
  "state": "Enabled",
  "type": "Microsoft.Logic/workflows",
  "version": "08584727136260224423"
}
