.ai/tasks/2026-05-13-001_logic-app-slack-fbe-query/context/vpp-fbe-delete-handler.json
{
  "accessEndpoint": "https://prod-68.westeurope.logic.azure.com:443/workflows/7ae536b66cd8434dab0145117f8dcd26",
  "changedTime": "2024-10-09T12:35:41.4936294Z",
  "createdTime": "2024-09-02T20:56:35.3306938Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "For_each": {
        "actions": {
          "Lookup_Slack_User_by_Email": {
            "inputs": {
              "body": "email=@{items('For_each')['createdby']}",
              "headers": {
                "Authorization": "Bearer [REDACTED_SLACK_BOT_TOKEN]",
                "Content-Type": "application/x-www-form-urlencoded"
              },
              "method": "POST",
              "uri": "https://slack.com/api/users.lookupByEmail"
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          },
          "Parse_Slack_Response": {
            "inputs": {
              "content": "@body('Lookup_Slack_User_by_Email')",
              "schema": {
                "properties": {
                  "ok": {
                    "type": "boolean"
                  },
                  "user": {
                    "properties": {
                      "id": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            },
            "runAfter": {
              "Lookup_Slack_User_by_Email": [
                "Succeeded"
              ]
            },
            "type": "ParseJson"
          },
          "Send_DM_to_User": {
            "inputs": {
              "body": {
                "attachments": [
                  {
                    "actions": [
                      {
                        "name": "Yes",
                        "text": "Yes",
                        "type": "button",
                        "value": "yes_@{items('For_each')['env']}"
                      },
                      {
                        "name": "No",
                        "text": "No",
                        "type": "button",
                        "value": "no_@{items('For_each')['env']}"
                      }
                    ],
                    "attachment_type": "default",
                    "callback_id": "delete_confirmation_@{items('For_each')['env']}",
                    "color": "#3AA3E3",
                    "fallback": "You are unable to choose an option",
                    "text": "Choose an option"
                  }
                ],
                "channel": "@{body('Parse_Slack_Response')['user']['id']}",
                "text": "Do you want to keep the @{items('For_each')['env']} environment active which is deployed against the @{items('For_each')['branch']} branch?"
              },
              "headers": {
                "Authorization": "Bearer [REDACTED_SLACK_BOT_TOKEN]",
                "Content-Type": "application/json"
              },
              "method": "POST",
              "uri": "https://slack.com/api/chat.postMessage"
            },
            "runAfter": {
              "Parse_Slack_Response": [
                "Succeeded"
              ]
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "Http"
          }
        },
        "foreach": "@body('Get_entities_(V2)').value",
        "runAfter": {
          "Get_entities_(V2)": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "Get_entities_(V2)": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azuretables-1']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('featurebranchenvdetails')}/entities",
          "queries": {
            "$filter": "active eq 'used'"
          }
        },
        "runAfter": {},
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "14"
            ],
            "minutes": [
              6
            ],
            "weekDays": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ]
          },
          "timeZone": "UTC"
        },
        "recurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "hours": [
              "14"
            ],
            "minutes": [
              6
            ],
            "weekDays": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ]
          },
          "timeZone": "UTC"
        },
        "type": "Recurrence"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.174.88.118"
        },
        {
          "address": "40.91.208.65"
        },
        {
          "address": "13.69.64.208/28"
        },
        {
          "address": "13.69.71.192/27"
        },
        {
          "address": "13.93.36.78"
        },
        {
          "address": "20.86.93.32/27"
        },
        {
          "address": "20.86.93.64/28"
        },
        {
          "address": "20.126.243.151"
        },
        {
          "address": "20.126.241.238"
        },
        {
          "address": "20.103.132.139"
        },
        {
          "address": "20.103.131.1"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "98.64.193.78"
        },
        {
          "address": "98.64.194.143"
        },
        {
          "address": "98.64.198.223"
        },
        {
          "address": "98.64.198.203"
        },
        {
          "address": "98.64.208.186"
        },
        {
          "address": "98.64.209.52"
        },
        {
          "address": "172.211.196.189"
        },
        {
          "address": "172.211.195.251"
        },
        {
          "address": "98.64.154.66"
        },
        {
          "address": "98.64.156.81"
        },
        {
          "address": "98.64.156.180"
        },
        {
          "address": "98.64.156.68"
        },
        {
          "address": "20.238.229.165"
        },
        {
          "address": "20.8.128.2"
        },
        {
          "address": "20.238.230.113"
        },
        {
          "address": "108.141.139.111"
        },
        {
          "address": "108.142.111.162"
        },
        {
          "address": "108.142.111.174"
        },
        {
          "address": "108.142.111.178"
        },
        {
          "address": "108.142.111.183"
        },
        {
          "address": "108.142.111.152"
        },
        {
          "address": "108.142.111.156"
        },
        {
          "address": "108.142.111.179"
        },
        {
          "address": "108.142.111.169"
        },
        {
          "address": "98.64.203.30"
        },
        {
          "address": "98.64.156.172"
        },
        {
          "address": "20.56.202.157"
        },
        {
          "address": "20.56.203.30"
        },
        {
          "address": "57.153.19.33"
        },
        {
          "address": "57.153.59.202"
        },
        {
          "address": "108.141.95.140"
        },
        {
          "address": "20.61.147.216"
        },
        {
          "address": "57.153.83.52"
        },
        {
          "address": "57.153.38.174"
        },
        {
          "address": "57.153.3.13"
        },
        {
          "address": "57.153.1.223"
        },
        {
          "address": "108.142.29.55"
        },
        {
          "address": "108.142.31.220"
        },
        {
          "address": "108.142.31.202"
        },
        {
          "address": "20.61.153.22"
        },
        {
          "address": "57.153.7.252"
        },
        {
          "address": "108.141.83.61"
        },
        {
          "address": "57.153.7.252"
        },
        {
          "address": "108.141.83.61"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "20.103.17.247"
        },
        {
          "address": "20.103.16.47"
        },
        {
          "address": "20.103.57.29"
        },
        {
          "address": "20.101.174.23"
        },
        {
          "address": "20.93.235.107"
        },
        {
          "address": "20.76.174.72"
        },
        {
          "address": "20.82.87.16"
        },
        {
          "address": "20.103.91.39"
        },
        {
          "address": "20.76.161.156"
        },
        {
          "address": "98.64.193.64"
        },
        {
          "address": "98.64.194.135"
        },
        {
          "address": "98.64.198.219"
        },
        {
          "address": "98.64.198.194"
        },
        {
          "address": "98.64.208.46"
        },
        {
          "address": "98.64.209.43"
        },
        {
          "address": "172.211.196.188"
        },
        {
          "address": "172.211.195.181"
        },
        {
          "address": "98.64.157.37"
        },
        {
          "address": "98.64.156.69"
        },
        {
          "address": "98.64.156.152"
        },
        {
          "address": "98.64.156.62"
        },
        {
          "address": "20.238.229.108"
        },
        {
          "address": "108.141.139.225"
        },
        {
          "address": "20.238.230.87"
        },
        {
          "address": "108.141.139.80"
        },
        {
          "address": "108.142.111.161"
        },
        {
          "address": "108.142.111.173"
        },
        {
          "address": "108.142.111.175"
        },
        {
          "address": "108.142.111.182"
        },
        {
          "address": "108.142.111.151"
        },
        {
          "address": "108.142.111.155"
        },
        {
          "address": "108.142.111.157"
        },
        {
          "address": "108.142.111.167"
        },
        {
          "address": "98.64.203.5"
        },
        {
          "address": "98.64.156.150"
        },
        {
          "address": "20.56.202.134"
        },
        {
          "address": "20.56.202.244"
        },
        {
          "address": "57.153.19.27"
        },
        {
          "address": "57.153.59.193"
        },
        {
          "address": "108.141.95.129"
        },
        {
          "address": "20.61.147.200"
        },
        {
          "address": "57.153.83.40"
        },
        {
          "address": "57.153.38.60"
        },
        {
          "address": "57.153.2.162"
        },
        {
          "address": "57.153.1.215"
        },
        {
          "address": "108.142.24.182"
        },
        {
          "address": "108.142.31.170"
        },
        {
          "address": "108.142.31.143"
        },
        {
          "address": "20.61.152.226"
        },
        {
          "address": "57.153.7.245"
        },
        {
          "address": "108.141.83.46"
        },
        {
          "address": "57.153.7.245"
        },
        {
          "address": "108.141.83.46"
        }
      ]
    }
  },
  "id": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/resourceGroups/rg-vpp-app-sb-401/providers/Microsoft.Logic/workflows/vpp-fbe-delete-handler",
  "identity": {
    "principalId": "6f0377e3-ecc0-4641-97f8-80c4471625bc",
    "tenantId": "eca36054-49a9-4731-a42f-8400670fc022",
    "type": "SystemAssigned"
  },
  "location": "westeurope",
  "name": "vpp-fbe-delete-handler",
  "parameters": {
    "$connections": {
      "value": {
        "azuretables-1": {
          "connectionId": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/resourceGroups/rg-vpp-app-sb-401/providers/Microsoft.Web/connections/azuretables-3",
          "connectionName": "azuretables-3",
          "id": "/subscriptions/7b1ba02e-bac6-4c45-83a0-7f0d3104922e/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-vpp-app-sb-401",
  "state": "Enabled",
  "type": "Microsoft.Logic/workflows",
  "version": "08584731295440337988"
}
